@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #fff #d7d7d7;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 14px;
  border: 3px solid #d7d7d7;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border-radius: 14px;
  border: 3px solid #d7d7d7;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #555;
  border-radius: 14px;
  border: 3px solid #d7d7d7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #000 #171717;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #171717;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

  *::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 14px;
    border: 3px solid #171717;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    border-radius: 14px;
    border: 3px solid #171717;
  }
  *::-webkit-scrollbar-thumb:active {
    background-color: #444;
    border-radius: 14px;
    border: 3px solid #171717;
  }
}

@font-face {
  font-family: "New Horizon Titling W00 Light";
  src: url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.eot");
  src: url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/117cc20fd2d8937eae876e90db01c0f5.svg#New Horizon Titling W00 Light")format("svg");
}

@font-face {
  font-family: "Felix Titling MT Std";
  src: url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.eot");
  src: url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/71fffac3911b878d86cd3cd9b3a18038.svg#Felix Titling MT Std")format("svg");
}

